@use "./variables" as *;
@use "./mixins" as *;

.comments {
  padding: 0 $mobile-padding;
  @include mobile-body;

  @include tablet {
    padding: 0 $padding-default;
    @include body;
  }

  @include desktop {
    padding: 0 3.75rem;
  }

  &__header {
    padding-top: $mobile-padding-before-headlines;
    padding-bottom: $mobile-padding;
    @include mobile-header($primary-color-black);
    @include tablet {
      @include section-header;
      padding-top: $padding-before-headlines;
      padding-left: $padding-default;
    }
  }

  &__section {
    display: flex;
    justify-content: center;
    border-bottom: 0.062rem solid $seconday-color-mercury;

    @include tablet {
      padding-left: $padding-default;
    }

    @include desktop {
      padding: 0 3.75rem;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 2.25rem;
    @include tablet {
      min-height: 3rem;
      padding: 1rem;
    }
  }

  &__form-label {
    text-transform: uppercase;
    color: $secondary-color-silver;
    padding-bottom: 0.25rem;
    font-size: $mobile-font-size-xsmall;
    line-height: $mobile-line-height-small;
    @include tablet {
      font-size: $font-size-xsmall;
      line-height: $line-height-small;
    }
  }

  &__form-name,
  &__form-comment {
    display: flex;
    flex-direction: column;
    padding-bottom: $mobile-padding;
  }

  &__name,
  &__box {
    border-radius: 0.25rem;
    padding: 0.75rem;
    border: 0.062rem solid $seconday-color-mercury;
    font-family: inherit;
    color: inherit;
    outline: none;
  }

  &__name {
    height: min(2.25rem);
    width: 100%;

    @include tablet {
      height: min(3rem);
      padding: 1rem;
    }
  }

  &__name:focus,
  &__box:focus {
    border: 0.062rem solid $seconday-color-black;
  }

  &__error {
    border: 0.062rem solid #d22d2d;
  }

  &__submit-btn {
    background-color: $primary-color-black;
    color: white;
    height: 2.5rem;
    width: 100%;
    max-width: 100%;
    border-radius: 0.25rem;
    text-transform: uppercase;
    font-size: $mobile-font-size-xsmall;
    font-family: inherit;
    font-weight: 700;
    @include tablet {
      font-size: $font-size-xsmall;
      line-height: $line-height-small;
      font-weight: 700;
      width: min(9.375rem);
      min-width: 9.375rem;
      padding: 0 min(2rem);
      align-self: flex-end;
    }
  }

  &__submit-btn:hover {
    background-color: $seconday-color-black;
  }

  &__list {
    padding-top: $mobile-padding;
    padding-left: $mobile-padding;
    padding-right: $mobile-padding;
    list-style-type: none;
    display: flex;
    flex-direction: column;

    @include desktop {
      @include body;
      padding: 0 10rem;
    }
  }

  &__list-item {
    padding-top: $mobile-padding;
    display: flex;
    justify-content: space-around;
    border-bottom: 0.062rem solid $seconday-color-mercury;

    @include tablet {
      padding-left: $padding-default;
    }
  }

  &__avatar-container {
    padding-top: $mobile-padding;
    @include tablet {
      padding-top: $padding-default;
    }

    @include desktop {
      padding-left: 3.75rem;
    }
  }

  &__avatar {
    width: 6.25rem;
    height: 6.25rem;
    max-width: 3rem;
    max-height: 3rem;
    background-color: $seconday-color-mercury;
    border-radius: 50%;
    object-fit: cover;
    @include tablet {
      max-width: 3rem;
      max-height: 3rem;
    }
    &--new {
      margin-left: 1rem;
    }
  }

  &__info-container,
  &__form-container {
    width: 100%;
    padding-left: $mobile-padding;
    padding-bottom: $mobile-padding;
    @include desktop {
      padding-right: 3.75rem;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    padding-bottom: $mobile-padding;
  }

  &__person {
    font-weight: 700;
  }

  &__date {
    color: $secondary-color-silver;
  }

  &__text {
    padding-bottom: $mobile-padding;
  }
}
