@use "./variables" as *;
@use "./mixins" as *;

.footer {
  background-color: $primary-color-black;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;

  padding: $mobile-padding-before-headlines $mobile-padding $mobile-padding
    $mobile-padding;

  @include tablet {
    padding: 0 $padding-default;
  }

  @include desktop {
    padding-left: 7rem;
    padding-right: 7rem;
  }

  &__head {
    padding-bottom: $mobile-padding;
    @include tablet {
      padding-top: $padding-before-headlines;
      display: flex;
      justify-content: space-between;
    }
  }

  &__head-container {
    @include tablet {
      display: flex;
      justify-content: space-between;
    }
  }

  &__links {
    display: flex;
    gap: 1.5rem;
  }

  &__tablet-logo {
    visibility: hidden;
    display: none;
    @include tablet {
      visibility: visible;
      display: block;
      align-self: flex-start;
    }
  }

  &__header {
    @include mobile-header($primary-color-white);
    padding-bottom: $mobile-padding;
    @include tablet {
      padding-right: $padding-default;
    }
  }

  &__contacts-container {
    @include mobile-body;
    color: $primary-color-white;
    @include tablet {
      display: flex;
      justify-content: space-between;
      padding-bottom: $mobile-padding;
    }
  }

  &__contact {
    padding-bottom: $mobile-padding;
    @include tablet {
    }
  }

  &__name {
    font-family: Avenir-Next-Demi;
  }

  &__company {
    font-family: Avenir-Next-Demi;

    padding-bottom: $mobile-padding;
  }

  &__address,
  &__role {
    padding-bottom: $mobile-padding;
  }

  &__company--capitals {
    text-transform: uppercase;
  }

  &__logo {
    padding-bottom: $mobile-padding;
  }

  &__mobile-logo {
    padding-top: $mobile-padding-before-headlines;
    padding-bottom: $mobile-padding;
    @include tablet {
      visibility: hidden;
      display: none;
    }
  }

  &__copyright {
    padding-bottom: $mobile-padding;
    color: $primary-color-white;
    @include tablet {
      // padding-left: $mobile-padding;
    }
  }
}
