@use "./variables" as *;
@use "./mixins" as *;
@use "./breakpoints" as *;

.gallery {
  @include mobile-section-padding;
  display: flex;
  flex-wrap: wrap;

  @include tablet {
    @include tablet-section-padding;
  }

  &__header {
    @include mobile-subheader;
    @include tablet {
      @include tablet-subheader;
    }
  }

  &__img {
    width: 100%;
    @include mobile-spacing-top;

    @include tablet {
      width: 32%;
      padding-right: $padding-24px;
    }

    // @include desktop {
    //   width: 25%;
    // }
  }
}
