@use "./variables" as *;
@use "./mixins" as *;
@use "./breakpoints" as *;

.gallery {
  padding: 0 $mobile-padding;
  display: flex;
  flex-wrap: wrap;
  background-color: $secondary-color-alabaster;

  @include tablet {
    @include tablet-section-padding;
  }

  &__header {
    padding: $mobile-padding 0;
    @include mobile-header($primary-color-black);
    @include tablet {
      @include tablet-subheader;
    }
  }

  @include desktop {
    padding-left: 7rem;
  }

  &__img {
    width: 100%;
    padding-bottom: $mobile-padding;

    @include tablet {
      width: 32%;
      padding-right: $padding-24px;
    }

    @include desktop {
      width: 33%;
    }

    &--end {
      @include tablet {
        // padding-right: 0rem;
      }
    }
  }
}
