@use "./variables" as *;
@use "./mixins" as *;

.hero {
  @include hero("../../assets/images/hero-bio.jpg", center);

  @include tablet {
    height: 50vh;
  }

  &--shows {
    @include hero("../../assets/images/hero-shows.jpg", baseline);
    flex-direction: column;
    justify-content: center;

    @include tablet {
      display: flex;
      height: 50vh;
    }

    @include desktop {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0 3.75rem;
      height: 45vh;
    }
  }

  &__titles {
    padding-top: $mobile-padding-before-headlines;
    @include desktop {
      width: 100%;
    }
  }

  &__subheading {
    padding-left: $mobile-padding;
    @include mobile-subheader;
    color: $primary-color-white;
    font-family: $primary-font;

    @include tablet {
      @include subheader;
      color: $primary-color-white;
    }

    @include desktop {
      padding-left: 3.75rem;
    }
  }

  &__heading {
    @include mobile-header($primary-color-white);
    padding-left: $mobile-padding;
    padding-top: $mobile-padding;
    @include tablet {
      @include page-header($primary-color-white);
    }
    @include desktop {
      padding-left: 3.75rem;
    }
  }

  &__music {
    padding: $mobile-padding $mobile-padding;
    width: 100%;

    @include tablet {
      width: 100%;
      padding-bottom: $padding-default;
      padding-left: $padding-default;
    }

    &-import {
      width: 100%;

      @include tablet {
        width: 59%;
      }

      @include desktop {
        width: 85%;
        padding-left: 3.75rem;
        padding-top: 3.75rem;
      }
    }
  }
}
