@use "./variables" as *;

@mixin font ($font-size, $line-height, $font-weight){
    font-family: $font;
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;
    color: $seconday-color-mercury;    
}

@mixin nav-footer-styling{
    background-color: $primary-color-black;
    color: $secondary-color-silver;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

// @mixin hero-styling{
//     background: linear-gradient(0deg, rgba($color: $primary-background-colour, $alpha: 0.5), rgba($color: $primary-background-colour, $alpha: 0.5)), url(../../assets/images/hero-bio.jpg);
//     background-size: cover;
//     height: 50vh;
//     display: flex;
//     align-items: center;
//     @include font(1.5rem, 2rem, 600);
// }

