@use "./variables" as *;

@mixin font($font-size, $line-height, $font-weight, $font-color) {
  font-family: $primary-font;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
  color: $font-color;
}

@mixin mobile-header($color) {
  color: $color;
  font-size: $mobile-font-size-big;
  line-height: $mobile-line-height-big;
  font-family: $font-bold;
}

@mixin mobile-subheader {
  font-size: $mobile-font-size-medium;
  line-height: $mobile-line-height-medium;
  font-family: $font-demi;
}

@mixin mobile-body {
  font-size: $mobile-font-size-small;
  line-height: $mobile-line-height-small;
  font-family: $primary-font;
}

@mixin tablet-spacing-top {
  padding-top: $padding-24px;
}

@mixin tablet-spacing-bottom {
  padding-bottom: $padding-24px;
}

@mixin tablet-section-padding {
  padding: $padding-16px $padding-36px;
}

@mixin tablet-subheader {
  @include font(2.25rem, 2.75rem, 700, $primary-color-black);
}
