@use "./variables" as *;
@use "./mixins" as *;
@use "./breakpoints" as *;

.musicians {
  padding: 0 $mobile-padding;

  &__header {
    padding-top: $mobile-padding-before-headlines;
    @include mobile-header($primary-color-black);
    @include tablet {
      @include tablet-subheader;
    }
    @include desktop {
      padding: 3rem 0 3rem 3rem;
    }
  }

  &__image {
    padding: $mobile-padding 0;
    @include tablet {
      @include tablet-section-padding;
    }
    @include desktop {
      padding: 0 7rem;
    }
  }

  &__picture {
    width: 100%;
    padding-bottom: $mobile-padding;
  }

  &__image-caption {
    font-family: $font-demi;
    @include tablet {
      padding-top: 0;
    }

    &--name {
      padding-top: 0.5rem;
    }
  }

  &__subheader {
    padding-bottom: $mobile-padding;
    @include mobile-subheader;
    @include tablet {
      @include tablet-section-padding;
    }
    @include desktop {
      padding-left: 7rem;
      padding-bottom: 0;
    }
  }

  &__text-container {
    @include tablet {
      display: flex;
    }
    @include desktop {
      padding-left: 5rem;
    }
  }

  &__main-text {
    &--bottom {
      padding-top: $mobile-padding;
      padding-bottom: $mobile-padding;
    }
    @include tablet {
      @include tablet-section-padding;
    }
  }
}
