@use "./variables" as *;
@use "./mixins" as *;

.musicians {
  padding: 0 $mobile-padding;
  @include mobile-body;

  @include tablet {
    padding-left: $padding-default;
    @include body;
  }

  &__header {
    padding-top: $mobile-padding-before-headlines;
    @include mobile-header($primary-color-black);
    @include tablet {
      @include section-header;
      padding-top: $padding-before-headlines;
      padding-left: $padding-default;
    }
    @include desktop {
      padding-left: auto;
    }
  }

  &__image {
    padding: $mobile-padding 0;
    @include tablet {
      padding: $padding-default;
    }
    @include desktop {
      padding-left: auto;
      padding-right: auto;
    }
  }

  &__picture {
    width: 100%;
    padding-bottom: $mobile-padding;
    @include tablet {
      padding-left: $padding-default;
      padding-right: $padding-default;
    }

    @include desktop {
      padding-left: auto;
      padding-right: auto;
    }
  }

  &__image-caption {
    font-family: $font-demi;
    @include tablet {
      padding-left: $padding-default;
      padding-right: $padding-default;
    }

    &--name {
      padding-top: 0.5rem;
    }
  }

  &__info {
    @include tablet {
      padding: 0 $padding-default $padding-default $padding-default;
    }
  }

  &__subheader {
    padding-bottom: $mobile-padding;
    @include mobile-subheader;
    @include tablet {
      padding-left: $padding-default;
      @include body;
    }
  }

  &__text-container {
    @include tablet {
      display: flex;
      padding: 0 $padding-default;
    }
  }

  &__main-text {
    &--bottom {
      padding-top: $mobile-padding;
      padding-bottom: $mobile-padding;
    }
    @include tablet {
      padding: 0 $padding-default 0 0;
    }
  }
}
