@use "./variables" as *;
@use "./mixins" as *;
@use "./breakpoints" as *;

.musicians {
  @include mobile-section-padding;

  &__header {
    @include mobile-subheader;
    @include tablet {
      @include tablet-subheader;
    }
    @include desktop {
      padding: 3rem 0 3rem 3rem;
    }
  }

  &__image {
    padding-top: $padding-16px;
    @include font(0.875rem, 1.375rem, 600, $primary-color-black);
    @include tablet {
      @include tablet-section-padding;
    }
    @include desktop {
      padding: 0 7rem;
    }
  }

  &__picture {
    width: 100%;
  }

  &__image-caption {
    @include mobile-spacing-top;
    @include font(0.875rem, 1.125rem, 600, $primary-color-black);
    @include tablet {
      padding-top: 0;
    }
  }

  &__vocalist {
    padding-top: 0.5rem;
  }

  &__subheader {
    @include mobile-spacing-top;
    @include font(0.875rem, 1.375rem, 600, $primary-color-black);
    @include tablet {
      @include tablet-section-padding;
    }
    @include desktop {
      padding-left: 7rem;
      padding-bottom: 0;
    }
  }

  &__text-container {
    @include tablet {
      display: flex;
    }
    @include desktop {
      padding-left: 5rem;
    }
  }

  &__main-text {
    @include mobile-spacing-top;
    @include font(0.812rem, 1.125rem, 400, $primary-color-black);
    @include tablet {
      @include tablet-section-padding;
    }
  }
}
