@use "./variables" as *;
@use "./breakpoints" as *;

.nav{
    background-color: $primary-background-colour;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    color: $secondary-font-colour;
    font-family: $primary-font;

    @include tablet{
        flex-direction: row;
    }

    &__logo{
        padding-top: 2rem;
        align-self: center;
    }

    &__bar{
        padding-top: 1rem;
    }

    &__list{
        list-style-type: none;
        display: flex;
        padding: 0;
        margin: 0;
    }

    &__list-item{        
        text-align: center;
        padding-bottom: 1rem;
        flex: 50%;
    }

    &__list-item--active{
        color: $primary-font-colour;
        border-bottom: 0.3rem solid $primary-font-colour;
        font-weight: 700;
    }

    &__list-item--hover:hover{
        @include desktop{
            color: $primary-font-colour;
            border-bottom: 0.3rem solid $primary-font-colour;
        }
    }
}