@use "./variables" as *;
@use "./mixins" as *;

.nav {
  background-color: $primary-color-black;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding-top: $padding-default;

  @include tablet {
    flex-direction: row;
    justify-content: unset;
    align-items: start;
    padding: 0 $padding-default;
  }

  @include desktop {
    padding-left: 5rem;
  }

  &__logo {
    align-self: center;
    @include tablet {
      padding-right: $padding-default;
    }
  }

  &__list {
    color: $secondary-color-silver;
    list-style-type: none;
    display: flex;
    list-style-type: none;
  }

  &__list-item {
    @include mobile-subheader;
    text-align: center;
    flex: 50%;
    @include tablet {
      padding: $mobile-padding-before-headlines;
      color: $seconday-color-mercury;
      font-family: $primary-font;
    }
  }

  &__list-item--active {
    border-bottom: 0.3rem solid $primary-color-white;
    color: $primary-color-white;
    font-family: $font-bold;
    @include tablet {
      border-bottom: 0;
    }
  }

  &__list-item:hover {
    @include desktop {
      color: $primary-color-white;
      border-bottom: 0.3rem solid $primary-color-white;
    }
  }

  &__link {
    text-decoration: none;
    color: $seconday-color-mercury;
    &--active {
      @include tablet {
        color: $primary-color-white;
        padding-bottom: 1.5rem;
        border-bottom: 0.3rem solid $primary-color-white;
      }
    }
  }
}
