@font-face {
  font-family: Avenir-Next-Regular;
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf"),
    url(../../assets/fonts/alternative-files/AvenirNextLTPro.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Avenir-Next-Demi;
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf"),
    url(../../assets/fonts/alternative-files/AvenirNextLTProDemi.ttf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Avenir-Next-Bold;
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf"),
    url(../../assets/fonts/alternative-files/AvenirNextLTProBold.ttf);
  font-weight: 700;
  font-style: normal;
}
