$font: Avenir Next;
$font-regular: 400;
$font-demi: 600;
$font-bold: 700;
$primary-color-black: #323232;
$primary-color-white: white;
$secondary-color-silver: #afafaf;
$seconday-color-black: #000000;
$seconday-color-mercury: #e1e1e1;
$secondary-color-alabaster: #fafafa;

$padding-36px: 2.25rem;
$padding-32px: 2rem;
$padding-24px: 1.5rem;
$padding-16px: 1rem;
