$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$primary-font: Avenir-Next-Regular;
$font-demi: Avenir-Next-Demi;
$font-bold: Avenir-Next-Bold;
$primary-color-black: #323232;
$primary-color-white: white;
$secondary-color-silver: #afafaf;
$seconday-color-black: #000000;
$seconday-color-mercury: #e1e1e1;
$secondary-color-alabaster: #fafafa;

$mobile-padding-before-headlines: 1.5rem;
$mobile-padding: 1rem;

$padding-before-headlines: 3rem;
$padding-default: 2.25rem;

$mobile-line-height-large: 2rem;
$mobile-line-height-medium: 1.375rem;
$mobile-line-height-small: 1.125rem;
$line-height-extra-large: 4.25rem;
$line-height-large: 2rem;
$line-height-medium: 1.375rem;
$line-height-small: 1.25rem;

$mobile-font-size-large: 1.5rem;
$mobile-font-size-medium: 0.875rem;
$mobile-font-size-small: 0.8125rem;
$font-size-extra-large: 3.75rem;
$font-size-large: 2.25rem;
$font-size-medium: 1.5rem;
$font-size-small: 0.875rem;
