.nav {
  background-color: #323232;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding-top: 2.25rem;
}
@media (min-width: 768px) {
  .nav {
    flex-direction: row;
    justify-content: unset;
    align-items: start;
    padding: 0 2.25rem;
  }
}
@media (min-width: 1280px) {
  .nav {
    padding-left: 5rem;
  }
}
.nav__logo {
  align-self: center;
  max-height: 1.25rem;
  max-width: 7.5rem;
}
@media (min-width: 768px) {
  .nav__logo {
    padding-right: 2.25rem;
  }
}
.nav__list {
  color: #afafaf;
  list-style-type: none;
  display: flex;
}
.nav__list-item {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  text-align: center;
  flex: 50%;
  font-weight: 400;
}
@media (min-width: 768px) {
  .nav__list-item {
    padding: 1.5rem;
    color: #e1e1e1;
  }
}
.nav__list-item--active {
  border-bottom: 0.3rem solid white;
  color: white;
  font-weight: 700;
}
@media (min-width: 768px) {
  .nav__list-item--active {
    border-bottom: 0;
  }
}
@media (min-width: 1280px) {
  .nav__list-item--active {
    border-bottom: 0;
  }
}
.nav__link {
  text-decoration: none;
  color: #e1e1e1;
  height: 100%;
}
@media (min-width: 768px) {
  .nav__link--active {
    color: white;
    padding-bottom: 1.5rem;
    border-bottom: 0.3rem solid white;
  }
}
@media (min-width: 1280px) {
  .nav__link:hover {
    color: white;
    padding-bottom: 1.5rem;
    border-bottom: 0.3rem solid white;
  }
}

.hero {
  background: linear-gradient(0deg, rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../../assets/images/hero-bio.jpg");
  background-size: cover;
  display: flex;
  width: 100vw;
  height: 30vh;
  align-items: center;
}
@media (min-width: 768px) {
  .hero {
    height: 50vh;
  }
}
.hero--shows {
  background: linear-gradient(0deg, rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../../assets/images/hero-shows.jpg");
  background-size: cover;
  display: flex;
  width: 100vw;
  height: 30vh;
  align-items: baseline;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 768px) {
  .hero--shows {
    display: flex;
    height: 50vh;
  }
}
@media (min-width: 1280px) {
  .hero--shows {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 3.75rem;
    height: 45vh;
  }
}
.hero__titles {
  padding-top: 1.5rem;
}
@media (min-width: 1280px) {
  .hero__titles {
    width: 100%;
  }
}
.hero__subheading {
  padding-left: 1rem;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  color: white;
  font-family: Avenir-Next;
}
@media (min-width: 768px) {
  .hero__subheading {
    color: #323232;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    color: white;
  }
}
@media (min-width: 1280px) {
  .hero__subheading {
    padding-left: 3.75rem;
  }
}
.hero__heading {
  color: white;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  padding-left: 1rem;
  padding-top: 1rem;
}
@media (min-width: 768px) {
  .hero__heading {
    color: white;
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
  }
}
@media (min-width: 1280px) {
  .hero__heading {
    padding-left: 3.75rem;
  }
}
.hero__music {
  padding: 1rem 1rem;
  width: 100%;
}
@media (min-width: 768px) {
  .hero__music {
    width: 100%;
    padding-bottom: 2.25rem;
    padding-left: 2.25rem;
  }
}
.hero__music-import {
  width: 100%;
}
@media (min-width: 768px) {
  .hero__music-import {
    width: 59%;
  }
}
@media (min-width: 1280px) {
  .hero__music-import {
    width: 85%;
    padding-left: 3.75rem;
    padding-top: 3.75rem;
  }
}

.musicians {
  padding: 0 1rem;
  line-height: 1.125rem;
}
@media (min-width: 768px) {
  .musicians {
    padding: 0 2.25rem;
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: Avenir-Next;
  }
}
@media (min-width: 1280px) {
  .musicians {
    padding: 2.25rem 3.75rem;
  }
}
.musicians__header {
  padding-top: 1.5rem;
  color: #323232;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  .musicians__header {
    color: #323232;
    font-size: 2.25rem;
    line-height: 2rem;
    font-weight: 700;
    padding-top: 3rem;
  }
}
.musicians__image {
  padding: 1rem 0;
}
@media (min-width: 768px) {
  .musicians__image {
    padding: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .musicians__image {
    padding: 2.25rem 3.75rem;
  }
}
.musicians__picture {
  width: 100%;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .musicians__picture {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .musicians__picture {
    padding-left: auto;
    padding-right: auto;
  }
}
.musicians__image-caption {
  font-weight: 600;
}
@media (min-width: 768px) {
  .musicians__image-caption {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}
.musicians__image-caption--name {
  padding-top: 0.5rem;
}
@media (min-width: 768px) {
  .musicians__info {
    padding: 0 2.25rem 2.25rem 2.25rem;
  }
}
@media (min-width: 1280px) {
  .musicians__info {
    padding: 0 3.75rem;
  }
}
.musicians__subheader {
  padding-bottom: 1rem;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .musicians__subheader {
    padding-left: 2.25rem;
    color: #323232;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
  }
}
@media (min-width: 768px) {
  .musicians__text-container {
    display: flex;
    padding: 0 2.25rem;
  }
}
@media (min-width: 768px) {
  .musicians__main-text {
    padding-right: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .musicians__main-text {
    padding-right: 1.5rem;
  }
}

.gallery {
  padding: 0 1rem;
  display: flex;
  flex-wrap: wrap;
  background-color: #fafafa;
}
@media (min-width: 768px) {
  .gallery {
    padding: 0 2.25rem;
  }
}
.gallery__header {
  padding: 1rem 0;
  color: #323232;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  .gallery__header {
    color: #323232;
    font-size: 2.25rem;
    line-height: 2rem;
    font-weight: 700;
    padding-top: 3rem;
    padding-bottom: 2.25rem;
    padding-left: 2.25rem;
  }
}
@media (min-width: 768px) {
  .gallery__container {
    padding-bottom: 2.25rem;
  }
}
.gallery__img {
  width: 100%;
  padding-bottom: 1rem;
  filter: grayscale(100%);
}
@media (min-width: 768px) {
  .gallery__img {
    width: 33%;
    padding-left: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .gallery__img {
    width: 33%;
  }
}
.gallery__img:hover {
  filter: none;
}

.footer {
  font-family: Avenir-Next;
  background-color: #323232;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 1.5rem 1rem 1rem 1rem;
}
@media (min-width: 768px) {
  .footer {
    padding: 0 2.25rem;
  }
}
@media (min-width: 1280px) {
  .footer {
    padding: auto;
  }
}
.footer__head {
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .footer__head {
    padding-top: 3rem;
    display: flex;
    justify-content: space-between;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}
@media (min-width: 768px) {
  .footer__head-container {
    display: flex;
    justify-content: space-between;
  }
}
.footer__links {
  display: flex;
  gap: 1.5rem;
}
.footer__tablet-logo {
  visibility: hidden;
  display: none;
}
@media (min-width: 768px) {
  .footer__tablet-logo {
    visibility: visible;
    display: block;
    align-self: flex-start;
    max-height: 1.25rem;
    max-width: 7.5rem;
  }
}
.footer__header {
  color: white;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .footer__header {
    padding-right: 2.25rem;
  }
}
.footer__contacts-container {
  line-height: 1.125rem;
  color: white;
}
@media (min-width: 768px) {
  .footer__contacts-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}
.footer__contact {
  padding-bottom: 1rem;
}
.footer__name {
  font-weight: 600;
}
.footer__company {
  font: Avenir-Next-Demi;
  padding-bottom: 1rem;
}
.footer__address, .footer__role {
  padding-bottom: 1rem;
}
.footer__email-address {
  text-decoration: none;
  color: white;
}
.footer__company--capitals {
  text-transform: uppercase;
}
.footer__logo {
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .footer__logo {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}
.footer__mobile-logo {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .footer__mobile-logo {
    visibility: hidden;
    display: none;
  }
}
.footer__copyright {
  color: white;
}
.comments {
  padding: 0 1rem;
  line-height: 1.125rem;
}
@media (min-width: 768px) {
  .comments {
    padding: 0 2.25rem;
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: Avenir-Next;
  }
}
@media (min-width: 1280px) {
  .comments {
    padding: 0 3.75rem;
  }
}
.comments__header {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  color: #323232;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  .comments__header {
    color: #323232;
    font-size: 2.25rem;
    line-height: 2rem;
    font-weight: 700;
    padding-top: 3rem;
    padding-left: 2.25rem;
  }
}
.comments__section {
  display: flex;
  justify-content: center;
  border-bottom: 0.062rem solid #e1e1e1;
}
@media (min-width: 768px) {
  .comments__section {
    padding-left: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .comments__section {
    padding: 0 3.75rem;
  }
}
.comments__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 2.25rem;
}
@media (min-width: 768px) {
  .comments__form {
    min-height: 3rem;
    padding: 1rem;
  }
}
.comments__form-label {
  text-transform: uppercase;
  color: #afafaf;
  padding-bottom: 0.25rem;
  font-size: 0.625rem;
  line-height: 1.125rem;
}
@media (min-width: 768px) {
  .comments__form-label {
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
}
.comments__form-name, .comments__form-comment {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}
.comments__name, .comments__box {
  border-radius: 0.25rem;
  padding: 0.75rem;
  border: 0.062rem solid #e1e1e1;
  font-family: inherit;
  color: inherit;
  outline: none;
}
.comments__name {
  height: 2.25rem;
  width: 100%;
}
@media (min-width: 768px) {
  .comments__name {
    height: 3rem;
    padding: 1rem;
  }
}
.comments__name:focus, .comments__box:focus {
  border: 0.062rem solid #000000;
}
.comments__error {
  border: 0.062rem solid #d22d2d;
}
.comments__submit-btn {
  background-color: #323232;
  color: white;
  height: 2.5rem;
  width: 100%;
  max-width: 100%;
  border-radius: 0.25rem;
  text-transform: uppercase;
  font-size: 0.625rem;
  font-family: inherit;
  font-weight: 700;
}
@media (min-width: 768px) {
  .comments__submit-btn {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 700;
    width: 9.375rem;
    min-width: 9.375rem;
    padding: 0 2rem;
    align-self: flex-end;
  }
}
.comments__submit-btn:hover {
  background-color: #000000;
}
.comments__list {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1280px) {
  .comments__list {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: Avenir-Next;
    padding: 0 10rem;
  }
}
.comments__list-item {
  padding-top: 1rem;
  display: flex;
  justify-content: space-around;
  border-bottom: 0.062rem solid #e1e1e1;
}
@media (min-width: 768px) {
  .comments__list-item {
    padding-left: 2.25rem;
  }
}
.comments__avatar-container {
  padding-top: 1rem;
}
@media (min-width: 768px) {
  .comments__avatar-container {
    padding-top: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .comments__avatar-container {
    padding-left: 3.75rem;
  }
}
.comments__avatar {
  width: 6.25rem;
  height: 6.25rem;
  max-width: 3rem;
  max-height: 3rem;
  background-color: #e1e1e1;
  border-radius: 50%;
  object-fit: cover;
}
@media (min-width: 768px) {
  .comments__avatar {
    max-width: 3rem;
    max-height: 3rem;
  }
}
.comments__avatar--new {
  margin-left: 1rem;
}
.comments__info-container, .comments__form-container {
  width: 100%;
  padding-left: 1rem;
  padding-bottom: 1rem;
}
@media (min-width: 1280px) {
  .comments__info-container, .comments__form-container {
    padding-right: 3.75rem;
  }
}
.comments__info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}
.comments__person {
  font-weight: 700;
}
.comments__date {
  color: #afafaf;
}
.comments__text {
  padding-bottom: 1rem;
}

@font-face {
  font-family: Avenir-Next;
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf"), url(../../assets/fonts/alternative-files/AvenirNextLTPro.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Avenir-Next;
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf"), url(../../assets/fonts/alternative-files/AvenirNextLTProDemi.ttf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Avenir-Next;
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf"), url(../../assets/fonts/alternative-files/AvenirNextLTProBold.ttf);
  font-weight: 700;
  font-style: normal;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: Avenir-Next;
}/*# sourceMappingURL=bio.css.map */