.nav {
  background-color: #323232;
  color: #AFAFAF;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.nav__logo {
  padding-top: 1rem;
  align-self: center;
}
.nav__bar {
  padding-top: 1rem;
}
.nav__list {
  list-style-type: none;
  display: flex;
}
.nav__list-item {
  text-align: center;
  padding-bottom: 1rem;
  flex: 50%;
  font-family: Avenir Next;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
  color: #E1E1E1;
}
.nav__list-item--active {
  border-bottom: 0.3rem solid white;
  color: white;
  font-weight: 600;
}

.hero {
  background: linear-gradient(0deg, rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(../../assets/images/hero-bio.jpg);
  background-size: cover;
  height: 50vh;
  display: flex;
  align-items: center;
  font-family: Avenir Next;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  color: white;
}
.hero__heading {
  padding-left: 1rem;
}

.musicians {
  padding: 1.5rem 1rem 1rem 1rem;
}
.musicians__header {
  font-family: Avenir Next;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: #323232;
}
.musicians__image {
  padding-top: 1rem;
  font-family: Avenir Next;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  color: #323232;
}
.musicians__picture {
  width: 100%;
}
.musicians__image-caption {
  padding-top: 1rem;
  font-family: Avenir Next;
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 600;
  color: #323232;
}
.musicians__subheader {
  padding-top: 1rem;
  font-family: Avenir Next;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  color: #323232;
}
.musicians__main-text {
  padding-top: 1rem;
  font-family: Avenir Next;
  font-size: 0.812rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: #323232;
}

.gallery {
  padding: 1.5rem 1rem 1rem 1rem;
  display: flex;
  flex-wrap: wrap;
}
.gallery__header {
  font-family: Avenir Next;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: #323232;
}
.gallery__img {
  width: 100%;
  padding-top: 1rem;
}

.footer {
  background-color: #323232;
  color: #AFAFAF;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 0 1rem;
  display: flex;
}
.footer__socials {
  padding-top: 1.5rem;
  font-family: Avenir Next;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: white;
}
.footer__links {
  display: flex;
  gap: 1.5rem;
  padding-bottom: 1rem;
}
.footer__link {
  justify-content: space-around;
}
.footer__header {
  padding-bottom: 1rem;
}
.footer__contact {
  padding-bottom: 1rem;
}
.footer__name {
  font-family: Avenir Next;
  font-size: 0.812rem;
  line-height: 1.125rem;
  font-weight: 600;
  color: white;
}
.footer__company {
  font-family: Avenir Next;
  font-size: 0.812rem;
  line-height: 1.125rem;
  font-weight: 600;
  color: white;
  padding-bottom: 1rem;
}
.footer__address, .footer__role {
  font-family: Avenir Next;
  font-size: 0.812rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: white;
  padding-bottom: 1rem;
}
.footer__email {
  font-family: Avenir Next;
  font-size: 0.812rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: white;
}
.footer__capitals {
  text-transform: uppercase;
}
.footer__logo {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  font-family: Avenir Next;
  font-size: 0.812rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: white;
}
.footer__copyright {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@font-face {
  font-family: Avenir Next;
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf"), url(../../assets/fonts/alternative-files/AvenirNextLTPro.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Avenir Next;
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf"), url(../../assets/fonts/alternative-files/AvenirNextLTProDemi.ttf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Avenir Next;
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf"), url(../../assets/fonts/alternative-files/AvenirNextLTProBold.ttf);
  font-weight: 700;
  font-style: normal;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}/*# sourceMappingURL=bio.css.map */