@use "./partials/nav" as *;
@use "./partials/hero" as *;
@use "./partials/musicians" as *;
@use "./partials/gallery" as *;
@use "./partials/footer" as *;
@use "./partials/variables" as *;
@use "./partials/typography";
@use "./partials/resets";

body {
  font-family: $primary-font;
  color: $primary-color-black;
  font-size: $mobile-font-size-small;
}
