@use "./partials/nav" as *;
@use "./partials/hero" as *;
@use "./partials/variables" as *;
@use "./partials/typography";
@use "./partials/resets";
@use "./partials/mixins" as *;
@use "./partials/variables" as *;
@use "./partials/footer" as *;

.shows {
  padding: 0 $mobile-padding;

  @include tablet {
    padding: 0 $padding-default;
    @include body;
  }

  @include desktop {
    display: flex;
    padding-left: 3.75rem;
    padding-right: 3.75rem;
  }

  &__header {
    padding-top: $mobile-padding-before-headlines;
    @include mobile-header($primary-color-black);
    @include tablet {
      @include section-header;
      padding-top: $padding-before-headlines;
      padding-bottom: $padding-default;
    }
    @include desktop {
      padding-left: 3.75rem;
      padding-right: 3.75rem;
    }
  }

  &__section {
    @include desktop {
      padding-left: 3.75rem;
      padding-right: 3.75rem;
      width: 100%;
    }
  }

  &__tablet-container {
    @include tablet {
      display: flex;
      padding-left: 3.75rem;
      padding-right: 3.75rem;
    }
  }

  &__tablet-headings {
    padding-top: $padding-before-headlines;

    &--uppercase {
      text-transform: uppercase;
    }

    &--toHide {
      visibility: hidden;
      display: none;

      @include tablet {
        visibility: visible;
        display: inherit;
      }
    }
  }

  &__tablet-date,
  &__tablet-venue,
  &__tablet-location {
    width: 28.5%;
    color: $secondary-color-silver;
  }

  &__subheaders {
    list-style-type: none;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
  }

  &__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include tablet {
      flex-direction: column;
    }
    @include desktop {
      padding-left: 3.75rem;
      padding-right: 3.75rem;
      width: 100%;
    }
  }

  &__list-item {
    border-bottom: 0.062rem solid $seconday-color-mercury;
    padding: $mobile-padding 0;
    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    @include desktop {
    }

    &--selected {
      background-color: red;
    }
  }

  &__list-item:focus {
    background-color: $seconday-color-mercury;
  }

  &__list-item:hover {
    background-color: $secondary-color-alabaster;
  }

  &__date-container,
  &__venue-container,
  &__location-container {
    padding: $mobile-padding 0;
    width: 25%;
  }

  &__container-header {
    color: $secondary-color-silver;
    padding-bottom: 0.5rem;

    @include tablet {
      &:nth-child(1) .shows__container-header {
        display: block !important;
        visibility: visible;
        padding-bottom: $padding-default;
      }
    }

    &--uppercase {
      text-transform: uppercase;
    }

    &--toHide {
      @include tablet {
        visibility: hidden;
        display: none;
      }
    }
  }

  &__date {
    font-weight: 700;
  }

  &__button {
    background-color: $primary-color-black;
    color: white;
    height: 2.5rem;
    width: 100%;
    max-width: 100%;
    border-radius: 0.25rem;

    &:nth-child(1) .shows__button {
      margin-top: 3.5rem;
    }

    @include tablet {
      width: 9.375rem;
      min-width: 9.375rem;
      padding: min(2rem, 0);
    }
  }

  &__button:hover {
    @include desktop {
      background-color: black;
    }
  }

  &__button:focus {
    @include desktop {
      background-color: black;
    }
  }
}
